.contact-form {

  legend {
    color: $darkGray;
    font-size: 2rem;
  }
}

.form-fields{
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

  label {
    font-weight: $bold;
    text-transform: uppercase;
  }

  input,
  select,
  textarea {
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 1rem;
    padding: 0.5rem;
  }
}

.contact-radio {
  max-width: 30rem;
  flex-direction: row;
  justify-content: space-between;
}