@include tablet {
  .adds-container {
    @include grid(3, 2rem);
  }
}

.add-cards {
  background-color: lighten($gray, 5);
  border: 1px solid darken($gray, 10);

  .add-content {
    padding: 2rem;
  }

  h3, p {
    margin: 0;
  }

  .price-add {
    color: $green;
    font-size: 3rem;
    font-weight: $bold;
  }
}

.icons-characteristics {
  display: flex;
  list-style: none;
  padding: 1rem;

  li {
    flex: 1;
    display: flex;
  }

  img {
    flex: 0 0 3rem;
    margin-right: 1rem;
  }

  p {
    font-weight: $black;
  }
}