.footer {
  background-color: $darkGray;
  padding: calc($spacing / 2) 0;

  .footer-container {
    padding-top: calc($spacing / 2);
  }

  .copyright {
    color: $white;
    text-align: center;
  }
}