.no-webp .home {
  background-image: url(../img/header.jpg);
}

.webp .home {
  background-image: url(../img/header.jpg);

  .header-content{
    @include tablet {
      min-height: 70rem;
    }
  }
}

.header {
  background-color: $darkGray;
  padding: 1rem 0 3rem 0;

  &.home {
    background-size: cover;
    background-position: center center;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1{
    color: $white;
    font-weight: $bold;
    line-height: 2;
    text-align: left;
    width: 60rem;
  }
}